.app__navbar{
    width: 150px;
    height: 64vh;
   /* background: linear-gradient(180deg,rgba(35,37,49,.3),rgba(15,15,24,.2));
    border: .1rem solid #20222e;
    border-radius: 2rem;*/
    position: absolute;
    top: +35vh;
    right: 0;
    z-index: 2000000000000000;
    transition: right .20s ease-in-out  .35s ease-in-out,all .35s ease-in-out;
    transition-property: right  all;
    transition-duration: 0.35s, 0.35s, 0.35s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s;
  }
  
  .app__navbar-all{
    width: 350px;
    height: 64vh;
    background: linear-gradient(180deg,rgba(35,37,49,.3),rgba(15,15,24,.2));
    border: .1rem solid #20222e;
    border-radius: 2rem;
    position: absolute;
    top: +35vh;
    right: 0;
    z-index: 2000000000000000;
   // transition: 3s ease-in-out
   transition: left 10s ease-in-out  .35s ease-in-out,backdrop-filter .35s ease-in-out;
   transition-property: left  backdrop-filter;
   transition-duration:  .35s,  .35s, .35s;
   transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
   transition-delay: 0s, 0s, 0s;
  }
  .app__navbar-colms{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border: 1px solid red;
    justify-content: space-around;
    align-items: center;
    width: auto;
  }
  .app__navbar-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--neutral-1);
    font-weight: 400;
    font-size: 3vh;
    height: 100%;
  //  border: 1px solid red;
    width: fit-content;
  }
  
  .app__navbar-list-disable{
    display: none;
  }
  .app__navbar-list-elm{
     padding: 2rem;
     height: 20%
  }
  
  /*.app__navbar-list-elm a {
    color: white
  }
  
  .app__navbar-list-elm a:hover {
    color: blue
  }*/
  



 .not-active-link {
    color: white
 }

 

 $home-color: red;
 $about-color: blue;
 
 .active-link{
   &[class*="home"] {
     color: $home-color;
   }
 
   &[class*="about"] {
     color: $about-color;
   }
 }

 .active-link-home{
  color: rgb(55, 3, 56)
 }

 .active-link-about{
  color: yellow
 }

 .active-link-skills{
  color: rgb(25, 43, 173)
 }

 .active-link-projects{
  color: rgb(25, 221, 198)
 }

 .active-link-contact{
  color: rgb(207, 4, 18)
 }
